@media only screen and (max-width: 768px) {

    body {
        background-position: unset;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }

    .content .box {
        justify-content: center;
        align-items: center;
    }

    .content .box .text h1 {
        text-align: center;
    }

    .content .box .imgBox {
        margin-bottom: 10px;
    }

    .content .btns {
        margin: 40px 0;
    }
}